.main
  .floating intWorld
  .topic= 'i18n ' + t(:app_title)
  .subtext= t :hello
  .body= t :welcome_text
  .changer
    .changer-text= t :ask_translate
    %img{ :src => t(:flag) }
    %select{ :name => 'language', :id => 'dropdown', :class => locale }
      - @lang_list.each do |c|
        %option{ :value => c[1] }
          = h c[0]
    %button{ :id => 'selector' }
      = t :translate

= javascript_include_tag 'welcome'
